@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

.swal2-shown {
  height: 100vh;
}

/* Example dark mode styles */
.dark {
  background-color: #333;
  color: #fff;
}

.dark input,
.dark select {
  background-color: #555;
  color: #fff;
}

/* In your CSS file (style.css), style the arrow buttons */
.btnl {
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: #333; /* Background color for the buttons */
  color: white; /* Text color for the buttons */
  border-radius: 50%; /* Makes the button circular */
  transition: background-color 0.3s; /* Add a transition effect */
  position: relative;
  right: 60px;
  bottom: 120px;
}

.btnr {
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: #333; /* Background color for the buttons */
  color: white; /* Text color for the buttons */
  border-radius: 50%; /* Makes the button circular */
  transition: background-color 0.3s; /* Add a transition effect */
  position: relative;
  left: 220px;
  bottom: 120px;
}

/* Style for the avatar */
.avatar {
  width: 250px; /* Adjust the size as needed */
  height: 250px;
  position: static;
}

* {
  box-sizing: border-box;
}

.transparent-button {
  background-color: transparent;
  font-size: 30px;
  position: fixed;
  right: 10px;
  z-index: 1000;
}

.enter-btn {
  background-color: #ff4ba1;
  color: white;
  border-radius: 30px;
  width: 120px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  bottom: 35%;
  right: 4px;
  margin: auto;
  left: 0;
  right: 0;
}
