@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.swal2-shown {
  display: flex;
  height: 100vh;
}

/* Example dark mode styles */
.dark {
  background-color: #333;
  color: #fff;
}
